.Header {
    background: #141414;
    width: 100%;
    height: 68px;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1;
    justify-content: space-between
}

.Header-logo {
    margin-right: 30px;
}

.Header-title {
    color: white;
    font-size: 28px;
    font-weight: 400;
    cursor: pointer;
    margin: 0;
    margin-left: 20px; 
    text-shadow: 0 0 10px rgba(255,255,255,.1);
    display: flex;
    align-items: center;
}

.Header-title:hover {
    text-shadow: 0 0 10px rgba(255,255,255,.2);
}

.Header-title strong {
    color: #e50914;
    font-size: 32px;
}

@media screen and (max-width: 540px) {
    .Header {
        position: absolute;
    }
}